{% extends 'base.html.twig' %}

{% block body %}
    <!-- Agenda widget -->
    <div class="row" style="margin-bottom:15px;">
        <div class="">
            <div class="agenda-menu">
                <div class="col-lg-6">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="{{ path('agenda_index', {'view':'1'}) }}" class="btn btn-secondary {% if view == '1' %}active{% endif %}" style="cursor:pointer;">Dag</a>
                            <a href="{{ path('agenda_index', {'view':'2'}) }}" class="btn btn-secondary {% if view == '2' %}active{% endif %}" style="cursor:pointer;">Week</a>
                            <a href="{{ path('agenda_index', {'view':'3'}) }}" class="btn btn-secondary {% if view == '3' %}active{% endif %}" style="cursor:pointer;">Maand</a>
                            <div class="btn-group mr-2" role="group" aria-label="First group" style="margin-left:15px">

                                <a class="datepicker-toggle btn btn-secondary" style="cursor:pointer;">
                                    {% if view == '1' %}
                                        {{ day }}
                                    {% elseif view == '2' %}
                                        Week {{ week }}
                                    {% else %}
                                        {{ month_name }}
                                    {% endif %}
                                </a>
                                <a class="datepicker-toggle btn btn-secondary" style="cursor:pointer;"><i class="fa fa-calendar" aria-hidden="true"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-4" style="margin-left:20px">
                    <div class="datepicker hidden"></div>
                </div>
                <div class="month-row-template hidden col-lg-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group col-lg-12" role="group" aria-label="First group">
                            <a href="{{ path('agenda_index', {'month':'0'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '0' %}active{% endif %}" style="cursor:pointer; ">Januari</a>
                            <a href="{{ path('agenda_index', {'month':'1'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '1' %}active{% endif %}" style="cursor:pointer;">Februari</a>
                            <a href="{{ path('agenda_index', {'month':'2'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '2' %}active{% endif %}" style="cursor:pointer;">Maart</a>
                        </div>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group col-lg-12" role="group" aria-label="First group">
                            <a href="{{ path('agenda_index', {'month':'3'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '3' %}active{% endif %}" style="cursor:pointer;">April</a>
                            <a href="{{ path('agenda_index', {'month':'4'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '4' %}active{% endif %}" style="cursor:pointer;">Mei</a>
                            <a href="{{ path('agenda_index', {'month':'5'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '5' %}active{% endif %}" style="cursor:pointer;">Juni</a>
                        </div>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group col-lg-12" role="group" aria-label="First group">
                            <a href="{{ path('agenda_index', {'month':'6'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '6' %}active{% endif %}" style="cursor:pointer;">Juli</a>
                            <a href="{{ path('agenda_index', {'month':'7'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '7' %}active{% endif %}" style="cursor:pointer;">Augustus</a>
                            <a href="{{ path('agenda_index', {'month':'8'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '8' %}active{% endif %}" style="cursor:pointer;">September</a>
                        </div>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group col-lg-12" role="group" aria-label="First group">
                            <a href="{{ path('agenda_index', {'month':'9'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '9' %}active{% endif %}" style="cursor:pointer;">Oktober</a>
                            <a href="{{ path('agenda_index', {'month':'10'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '10' %}active{% endif %}" style="cursor:pointer;">November</a>
                            <a href="{{ path('agenda_index', {'month':'11'}) }}" class="btn btn-primary col-lg-4 {% if month_number == '11' %}active{% endif %}" style="cursor:pointer;">December</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">

        </div>

    </div>

    <!-- Tables -->
    <div class="row">
        <div class="col-md-12">
            {% if view == '1' %}
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title no-padding" >{% if day == "now"|date('d-m-Y')%}<strong>Vandaag - {{ day }}</strong>{% else %}{{ day }}{% endif %}</div>

                        <div class="panel-options">
                            <a href="#" data-rel="collapse" data-popup-open="popup-1" class="create-button" data-date="{{ day }}" data-action="{{ path('create_task') }}">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if tasks|length > 0 %}
                            {%  include 'form/task_table.html.twig' with { data : tasks } %}
                        {% else %}
                            <p>Er zijn geen taken voor deze dag.</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if view == '2' or view == '3' %}
                {% if tasks|length > 0 %}
                    {% for date in tasks %}
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title no-padding" >{% if date.date  == "now"|date('d-m-Y')%}<strong>Vandaag - {{ date.date }}</strong> {% else %}{{ date.date }}{% endif %}</div>

                                <div class="panel-options">
                                    <a href="#" data-rel="collapse" data-popup-open="popup-1" class="create-button" data-date="{{ date.date }}" data-action="{{ path('create_task') }}">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                {% if date.tasks|length > 0%}
                                    {%  include 'form/task_table.html.twig' with { data : date.tasks } %}
                                {% else %}
                                    <p>Er zijn geen taken voor deze dag.</p>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div id="popup-template" class="popup" data-popup="popup-1">
            <div class="popup-inner">
                <div class="header-content hidden">
                    <h2 class="popup-title"></h2>
                    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                    <hr>
                </div>
                <div class="form-content">
                    <p>Gegevens ophalen...</p>
                </div>
                <div class="submit-task hidden">
                    <p class="pull-right" style="margin-top:10px;"><button class="btn btn-default" data-popup-close="popup-1" href="#">Annuleer</button>
                    <button type="button" class="btn btn-success submit-button" href="#">Opslaan</button></p>
                </div>
                <div class="confirm-delete hidden">
                    <p class="pull-left" style="margin-top:10px;"><button class="btn btn-default" data-popup-close="popup-1" href="#">Annuleer</button>
                    <button type="button" class="btn btn-danger submit-button" href="#">Verwijderen</button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if view == '1' %}
            Agenda.day('{{ day }}');
        {% elseif view == '2' %}
        console.log('week');
            Agenda.week('{{ week }}', '{{ year }}');
        {% else %}
            Agenda.month('{{ month_number }}', '{{ year }}');
        {% endif %}

        Popup.create();
        Popup.edit();
        Popup.delete();
    </script>
{% endblock %}
